script(src="../../webcomponentsjs/webcomponents-lite.min.js")
link(rel="import", href="../../polymer/polymer.html")
link(rel="import", href="../../iron-input/iron-input.html")

dom-module(id="x-element")

  template
    span This is a x-element with iron-input
    div 
      span Here is some binding done :
    div
      span Text : 
      span {{textFromInput}}
    div
      span Test input :  
      input(is='iron-input', bind-value='{{textFromInput}}', placeholder='some text here...')

  script(src="./x-element.js")
